.bride-squad {
        
        width: 300px;
        height: 400px;
        box-sizing: border-box;
        background-color: black;
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
        &:hover{
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-in-out;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .overlay-card{
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 400px;
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(184, 67, 67, 0.5) 100%);
            transition: all 0.3s ease-in-out;
            h1{
                position: absolute;
                bottom: 50px;
                width: 20px;
                color: white;
                left: 20px;
                font-size: 1.8rem;
                font-family: $font-4 !important;
                line-height: 1.7rem;
            }
            p{
                position: absolute;
                bottom: 10px;
                width: 90%;
                color: white;
                left: 20px;
                font-size: .9rem;
                font-family: $font-4 !important;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            &:hover{
                height: 400px;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .groom-squad {
        width: 300px;
        height: 400px;
        box-sizing: border-box;
        background-color: black;
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
        &:hover{
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-in-out;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .overlay-card{
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 400px;
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(0, 0, 0, 0.5) 100%);
            transition: all 0.3s ease-in-out;
            h1{
                position: absolute;
                bottom: 50px;
                width: 20px;
                color: white;
                left: 20px;
                font-size: 1.8rem;
                font-family: $font-3;
                line-height: 1.4rem;
            }
            p{
                position: absolute;
                bottom: 10px;
                width: 90%;
                color: white;
                left: 20px;
                font-size: .9rem;
                font-family: $font-3;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            &:hover{
                height: 400px;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .card-squad{
        width: 300px;
        height: 400px;
        box-sizing: border-box;
        background-color: black;
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: center;
        border-radius: 4px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;
        &:hover{
            box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease-in-out;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title-bride-squad{
      font-size: 3rem !important;
      text-align: center;
      margin-bottom: 2rem;
      font-family: $font-4;
    }
    .title-groom-squad{
      font-size: 3rem !important;
      text-align: center;
      margin-bottom: 2rem;
    }

    .section-squad{
      margin-bottom: 8rem;
    }

@media (max-width: 767.98px) {
  .title-bride-squad{
    font-size: 2.5rem !important;
  }
  .title-groom-squad{
    font-size: 2.5rem !important;
  }

  .section-squad{
    margin-bottom: 8rem;
  }
}
