.app-bar{
    background-color: #D81B60!important ;
    color: #fff;
    z-index: 99999999 !important;
    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            color: rgb(181, 176, 176);
        }
    }
}
.wrapper-app-bar{
  height: 50px !important;
  width: 100px !important;
}

@media (max-width: 767.98px) {
  .wrapper-app-bar{
    height: 40px !important;
    width: 60px !important;
    display: flex;
    align-items: center;
  }
}
