.app-bar{
    background-color: #D81B60!important ;
    color: #fff;
    z-index: 99999999 !important;
    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            color: rgb(181, 176, 176);
        }
    }
}