.invitation {
    height: auto;
    align-items: center;

    //position: sticky;
    .title-invitation p{
        text-align: center;
        font-size: 1.5rem;
        padding: 3rem 1rem;
        font-weight: 600;
    }
    .title-invitation-2{
      color: rgb(225, 197, 193);
      font-size: 1.4rem;
    }
    .husband-name,
    .wife-name {
        font-family: $font-4;
        font-size: 2rem;
    }
    .husband-lastname,
    .wife-lastname {
        font-family: $font-3;
        letter-spacing: 3px;
        font-size: 1.5rem;
    }
    .middle-names {
        font-family: $font-1;
        font-size: 2rem;
    }
    .anounce {
        width: 40%;
        text-align: left;
        font-size: 2rem;
        letter-spacing: 5px;
        line-height: 18px;
        height: 50%;
        margin-top: 25%;
        display: block;
    }
  .anounce-2{
    display: none;
  }
    .wedding-info {
        font-family: $font-4;
    }
  .part-1{
    background-color: #f7e8e7;
    padding-bottom: 8%;
  }
  .part-2{
    background-color: #fafafa;
    padding-top: 25%;
    padding-bottom: 3rem;
  }
  .middle-part{
    position: relative;
    margin-bottom: -23%;
  }
  a{
    text-decoration: none;
    color: grey;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767.98px) {
  .invitation{
    .title-invitation p {
      font-size: 1.2rem;
    }

    .wife-name ,
    .husband-name {
      font-size: 1.6rem;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .wife-lastname ,
    .husband-lastname {
      font-size: 1.2rem;
      margin-top: 0;
      padding-top: 0;
    }
    .middle-names {
      font-family: $font-1;
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
    }
    .wedding-info{
      padding: 1rem 2.5rem;
      h4{
        margin-top: 2rem;
      }
    }
    .anounce{
      display: none
    }
    .anounce-2{
      display: block;
      font-size: 1.6rem;
      letter-spacing: 8px;
      padding: 3rem 2rem 0 2rem ;
    }

  }
}
