//import variables
@import '../variables.scss';
//global styles
@import 'global';
@import 'buttons';
@import 'sidenav';
@import 'cardsquad';
@import 'comments';
//section styles
@import 'homeSection.scss';
@import 'invitationSection.scss';
@import 'registrySection.scss';
//General styles
body {
    margin: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
